.html {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.html canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.css {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.css canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.frameworks {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.frameworks canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.pre {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.pre canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.node {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.node canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.react {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.react canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.mongo {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.mongo canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.git {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.git canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.npm {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.npm canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.grunt {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.grunt canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.cms {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.cms canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.api {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.api canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.adobe {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.adobe canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

input {
    display: block;
    margin: auto;
    margin-bottom: 3em;
}

.btn {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
    background: #cccccc;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.8em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn:hover {
    background: #333333;
    color: #ffffff;
}

.span6 {
    float: left;
    width: 50%;
}

.left {
    float: left;
    padding: 14px;
}

.small {
    font-size: 11px;
}

@media only screen and (max-width: 600px) {
    li {
        font-size: 14.4px;
    }
    .left {
    float: left;
    padding: 20px;
}
}

@media only screen and (max-width: 430px) {
    .span6 {
        float: none;
        width: 100%;
    }
    body {
        padding-top: 0;
    }
    ul {
        height: auto;
        position: static;
    }
    li {
        display: block;
        width: 100%;
    }
    li a {
        white-space: normal;
    }
    a.active:after {
        display: none;
    }
    .left {
    float: left;
    padding: 20px;
}
}
